/* AUTH PAGE */

.auth-wrapper {
  background: #f8fafc;
}

.auth-left {
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  position: relative;
}

.auth-left::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
  top: -150px;
  left: -150px;
  filter: blur(120px);
}

.auth-card {
  width: 100%;
  max-width: 420px;
  border-radius: 20px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.08);
}

.auth-btn {
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  border: none;
  border-radius: 12px;
  padding: 12px;
  font-weight: 600;
  transition: 0.3s;
}

.auth-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.35);
}
